{% extends 'base.html.twig' %}

{% block title %}Bilans Modules{% endblock %}

{% block body %}
    <h1 class="titreAccueil">Bilans modules</h1>

<div class="ligneCreate">
    <a class="entreeCreate" href="{{ path('app_bilanmodule_new') }}">Nouvelle évaluation</a>
</div>

       {% for bilanmodule in bilanmodules %}
                    <div class="ligneBilan">
                    <a class="entreeBilan" href="{{ path('app_bilanmodule_show', {'id': bilanmodule.id}) }}">
                       {{ bilanmodule.intitule }} - {{ bilanmodule.formateur }} :

                        {% for i in 1..5 %}
                        {% if i<=bilanmodule.note %}
                            <i class="fa-solid fa-star etoile{{ i }}" style="color: #024f89;"></i>
                        {% else %}
                            <i class="fa-regular fa-star etoile{{ i }}" style="color: #024f89;"></i>
                        {% endif %}
                        {% endfor %}
                    </a>
                    </div>
        {% else %}

                <p>Aucun enregistrement</p>

        {% endfor %}



{% endblock %}
