{% extends 'base.html.twig' %}

{% block title %}Bilan module{% endblock %}

{% block body %}
    <h1 class="titreAccueil">Bilan module</h1>

    <h2>{{ bilanmodule.intitule }} par {{ bilanmodule.formateur }}</h2>

    <div>
    {% for i in 1..5 %}
        {% if i<=bilanmodule.note %}
            <i class="fa-solid fa-star etoile{{ i }}" style="color: #024f89;"></i>
        {% else %}
            <i class="fa-regular fa-star etoile{{ i }}" style="color: #024f89;"></i>
        {% endif %}
    {% endfor %}
    </div>

    <p>Appreciation : {{ bilanmodule.appreciation }}</p>


    <a href="{{ path('app_bilanmodule_index') }}">back to list</a>

    <a href="{{ path('app_bilanmodule_edit', {'id': bilanmodule.id}) }}">edit</a>

    {{ include('bilanmodule/_delete_form.html.twig') }}
{% endblock %}
